<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <meta content="#262626" name="theme-color" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/s/account.css" />
    </head>
    <body>
        <div class="container">
            <% if (locals.error) { %>
                <p class="error"><%= error %></p>
            <% } %>

            <h2 class="title-2fa">Two-Factor Authentication</h2>

            <% if (user['2fa_enabled']) { %>
                <p>2FA is enabled.</p>
            <% } else { %>
                <button class="button enable-2fa">Enable 2FA</button>

                <form
                    action="/account/2fa/confirm"
                    method="POST"
                    class="confirm-2fa"
                >
                    <input
                        type="number"
                        name="token"
                        placeholder="123456"
                        class="input token-input"
                    />
                    <button class="button confirm-2fa-code">Confirm</button>
                    <div class="qrcode"></div>
                </form>
            <% } %>
        </div>

        <div class="container">
            <h2 class="passkeys-title">Passkeys</h2>

            <button class="button add-passkey">Add Passkey</button>

            <% if (passkeys.length === 0) { %>
                <p>You don't have any passkeys.</p>
            <% } %>

            <ul class="passkeys">
                <% passkeys.forEach(passkey => { %>
                    <li>
                        <%= passkey.name %>
                        <form method="post" action="/account/passkeys/delete/<%= passkey.id %>" class="delete-passkey-form">
                            <button class="delete-passkey">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path
                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                                    ></path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg>
                            </button>
                        </form>
                    </li>
                <% }); %>
            </ul>
        </div>

        <div class="container container-pastes">
            <h2 class="pastes-title">Pastes</h2>

            <div class="pastes">
                <% if (pastes.length === 0) { %>
                    <p>You don't have any pastes.</p>
                <% } %>

                <% pastes.forEach(paste => { %>
                    <div class="paste">
                        <a href="<%= paste.is_url ? '/v' : '' %>/<%= paste.hash %>">
                            <%= paste.content.slice(0, 50) %><%= paste.content.length > 50 ? '…' : '' %>
                        </a>
                        <a href="/e/<%= paste.hash %>">edit</a>
                    </div>
                <% }); %>
            </div>
        </div>

        <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.es5.umd.min.js" nonce="<%= nonce %>"></script>
        <script src="/s/js/account.js"></script>
    </body>
</html>
