<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <meta content="#262626" name="theme-color" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/s/account.css" />
    </head>
    <body>
        <div class="container">
            <h2 class="title-2fa">Two-Factor Authentication</h2>

            <% if (locals['2faError']) { %>
                <p class="error"><%= locals['2faError'] %></p>
            <% } %>

            <% if (user['2fa_enabled']) { %>
                <p>2FA is enabled.</p>
            <% } else { %>
                <button class="button enable-2fa">Enable 2FA</button>

                <form
                    action="/account/2fa/confirm"
                    method="POST"
                    class="confirm-2fa"
                >
                    <input
                        type="number"
                        name="token"
                        placeholder="123456"
                        class="input token-input"
                    />
                    <button class="button confirm-2fa-code">Confirm</button>
                    <div class="qrcode"></div>
                </form>
            <% } %>
        </div>

        <div class="container container-pastes">
            <h2 class="pastes-title">Pastes</h2>

            <div class="pastes">
                <% if (pastes.length === 0) { %>
                    <p>You don't have any pastes.</p>
                <% } %>

                <% pastes.forEach(paste => { %>
                    <div class="paste">
                        <a href="<%= paste.is_url ? '/v' : '' %>/<%= paste.hash %>">
                            <%= paste.content.slice(0, 50) %><%= paste.content.length > 50 ? '…' : '' %>
                        </a>
                        <a href="/e/<%= paste.hash %>">edit</a>
                    </div>
                <% }); %>
            </div>
        </div>

        <script src="/s/js/account.js"></script>
    </body>
</html>
