<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head', { title: paste.hash }) %>
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <% if (locals.markdown) { %>
        <link rel="stylesheet" href="/s/markdown.css" />
        <% } else { %>
        <link rel="stylesheet" href="/s/hljs.css" />
        <% } %>
    </head>
    <body class="<%= locals.markdown ? 'markdown-body' : 'hljs' %>">
        <% if (locals.markdown) { %><%- content %> <% } else { %>
        <pre><code class="lang-<%= language %>"><%- content %></code></pre>
        <% } %>
    </body>
</html>
